


@{
    ViewBag.Title = "LogsMantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
</head>
<h1>Registro de tareas</h1>





<style>

    .demo {
        font-family: 'Noto Sans', sans-serif;
    }

    .panel {
        background: linear-gradient(to right, #2980b9, #2c3e50);
        padding: 0;
        border-radius: 10px;
        border: none;
        box-shadow: 0 0 0 5px rgba(0,0,0,0.05),0 0 0 10px rgba(0,0,0,0.05);
    }

        .panel .panel-heading {
            padding: 20px 15px;
            border-radius: 10px 10px 0 0;
            margin: 0;
        }

            .panel .panel-heading .title {
                color: #fff;
                font-size: 28px;
                font-weight: 500;
                text-transform: capitalize;
                line-height: 40px;
                margin: 0;
            }

            .panel .panel-heading .btn {
                color: rgba(255,255,255,0.5);
                background: transparent;
                font-size: 16px;
                text-transform: capitalize;
                border: 2px solid #fff;
                border-radius: 50px;
                transition: all 0.3s ease 0s;
            }

                .panel .panel-heading .btn:hover {
                    color: #fff;
                    text-shadow: 3px 3px rgba(255,255,255,0.2);
                }

            .panel .panel-heading .form-control {
                color: #fff;
                background-color: transparent;
                width: 35%;
                height: 40px;
                border: 2px solid #fff;
                border-radius: 20px;
                display: inline-block;
                transition: all 0.3s ease 0s;
            }

                .panel .panel-heading .form-control:focus {
                    background-color: rgba(255,255,255,0.2);
                    box-shadow: none;
                    outline: none;
                }

                .panel .panel-heading .form-control::placeholder {
                    color: rgba(255,255,255,0.5);
                    font-size: 15px;
                    font-weight: 500;
                }

        .panel .panel-body {
            padding: 0;
        }

            .panel .panel-body .table thead tr th {
                color: #fff;
                background-color: rgba(255, 255, 255, 0.2);
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                padding: 12px;
                border: none;
            }

            .panel .panel-body .table tbody tr td {
                color: black;
                font-size: 15px;
                padding: 10px 12px;
                vertical-align: middle;
                border: none;
                text-align: center;
            }

    .table {
        text-align: center;
    }

    .panel .panel-body .table tbody tr:nth-child(even) {
        background-color: rgba(255,255,255,0.05);
    }

    .panel .panel-body .table tbody .action-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .panel .panel-body .table tbody .action-list li {
            display: inline-block;
            margin: 0 5px;
        }

            .panel .panel-body .table tbody .action-list li a {
                color: black;
                font-size: 15px;
                position: relative;
                z-index: 1;
                transition: all 0.3s ease 0s;
            }

                .panel .panel-body .table tbody .action-list li a:hover {
                    text-shadow: 3px 3px 0 rgba(255,255,255,0.3);
                }

                .panel .panel-body .table tbody .action-list li a:before,
                .panel .panel-body .table tbody .action-list li a:after {
                    content: attr(data-tip);
                    color: black;
                    background-color: #111;
                    font-size: 12px;
                    padding: 5px 7px;
                    border-radius: 4px;
                    text-transform: capitalize;
                    display: none;
                    transform: translateX(-50%);
                    position: absolute;
                    left: 50%;
                    top: -32px;
                    transition: all 0.3s ease 0s;
                }

                .panel .panel-body .table tbody .action-list li a:after {
                    content: '';
                    height: 15px;
                    width: 15px;
                    padding: 0;
                    border-radius: 0;
                    transform: translateX(-50%) rotate(45deg);
                    top: -18px;
                    z-index: -1;
                }

                .panel .panel-body .table tbody .action-list li a:hover:before,
                .panel .panel-body .table tbody .action-list li a:hover:after {
                    display: block;
                }

    .panel .panel-footer {
        color: #fff;
        background-color: transparent;
        padding: 15px;
        border: none;
    }

        .panel .panel-footer .col {
            line-height: 35px;
        }

    .pagination {
        margin: 0;
    }

        .pagination li a {
            color: #fff;
            background-color: transparent;
            border: 2px solid transparent;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            line-height: 31px;
            width: 35px;
            height: 35px;
            padding: 0;
            margin: 0 3px;
            border-radius: 50px;
            transition: all 0.3s ease 0s;
        }

            .pagination li a:hover {
                color: #fff;
                background-color: transparent;
                border-color: rgba(255,255,255,0.2);
            }

            .pagination li a:focus,
            .pagination li.active a,
            .pagination li.active a:hover {
                color: #fff;
                background-color: transparent;
                border-color: #fff;
            }

        .pagination li:first-child a,
        .pagination li:last-child a {
            border-radius: 50%;
        }

    .panel .panel-heading .btn_group {
        text-align: center;
    }

    .green-font {
        color: green;
    }

    red-font {
        color: red;
    }

    .container {
        margin: 0 auto; /* Centra el formulario horizontalmente */
        padding: 20px; /* Espaciado interno del contenedor */
        border: 1px solid #ccc; /* Borde del contenedor */
        border-radius: 5px; /* Bordes redondeados */
        background-color: #f9f9f9; /* Fondo del contenedor */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
        text-align: center;
    }


    .Contenedor {
        max-width: 400px; /* Ancho máximo del formulario */
        margin: 0 auto; /* Centra el formulario horizontalmente */
        padding: 20px; /* Espaciado interno del contenedor */
        border: 1px solid #ccc; /* Borde del contenedor */
        border-radius: 5px; /* Bordes redondeados */
        background-color: #f9f9f9; /* Fondo del contenedor */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }

    /* Estilo para los campos de entrada */
    .form-group {
        margin-bottom: 15px; /* Espaciado entre campos */
    }

    label {
        display: block; /* Muestra la etiqueta en una nueva línea */
        margin-bottom: 5px; /* Espaciado inferior de la etiqueta */
        font-weight: bold; /* Texto en negrita */
    }

    input {
        width: 100%; /* Ancho completo del campo de entrada */
        padding: 10px; /* Espaciado interno del campo de entrada */
        border: 1px solid #ccc; /* Borde del campo de entrada */
        border-radius: 3px; /* Bordes redondeados */
    }

    /* Estilo para el botón de envío */
    button {
        background-color: #007bff; /* Color de fondo del botón */
        color: #fff; /* Color del texto del botón */
        padding: 10px 20px; /* Espaciado interno del botón */
        border: none; /* Sin borde */
        border-radius: 3px; /* Bordes redondeados */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    }

    button {
        background-color: #0056b3; /* Cambio de color de fondo al pasar el ratón */
    }

    .Link1 {
        color: brown;
        margin-right: 10px
    }

    .Link2 {
        color: blue
    }
</style>

<head>

</head>



<body>
    <form action="/Mantenimiento/GuardarDatos" method="post" class="Guardar">

        <div class="Contenedor" style="width: 100%;">
            <label for="psw"><b>Tarea</b></label>
            <br />
            <input type="text" placeholder="Digite la tarea" name="txtNombre" required>
            <br />

            <label for="psw"><b>Descripcion</b></label>
            <br />
            <input type="text" placeholder="Digite la descripcion" name="txtDescripcion" required>
            <br />           
           

            <label for="psw"><b>fecha</b></label>
            <br />
            <input type="date" placeholder="Digite la descripcion" name="txtDescripcion" required>
            <br />
            <br />
            <button type="submit" class="boton" >Guardar</button> <br />

        </div>

    </form>
    <br />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-3 col-xs-12">
                                <h4 class="title">Lista de tareas <span></span></h4>
                            </div>

                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tarea</th>
                                    <th>Descripcion</th>
                                    <th>Fecha</th>
                                    <th>Estatus</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="context-menu-one-mantTablas">

                                    <td>1</td>
                                    <td>Completar diagrama</td>
                                    <td>Realizar el diagrama de RRHH</td>
                                    <td>02/08/2024</td>
                                    <td>Espera</td>
                                    <td>
                                        @Html.ActionLink("Eliminar", "Eliminar", new { id = 4 }, new { @class = "Link1" })
                                        @Html.ActionLink("Editar", "Editar", new { id = 4 }, new { @class = "Link2" })
                                    </td>
                                </tr>
                                <tr class="context-menu-one-mantTablas">

                                    <td>2</td>
                                    <td>Biología</td>
                                    <td>Estudiar para el parcial</td>
                                    <td>13/08/2024</td>
                                    <td class="Link1">Hecha</td>
                                    <td>
                                        @Html.ActionLink("Eliminar", "Eliminar", new { id = 4 }, new { @class = "Link1" })
                                        @Html.ActionLink("Editar", "Editar", new { id = 4 }, new { @class = "Link2" })
                                    </td>
                                </tr>
                                <tr class="context-menu-one-mantTablas">

                                    <td>3</td>
                                    <td>Modulo</td>
                                    <td>Completar el modulo 2 de literatura</td>
                                    <td>13/06/2024</td>
                                    <td class="Link2">Retrasada</td>
                                    <td>
                                        @Html.ActionLink("Eliminar", "Eliminar", new { id = 4 }, new { @class = "Link1" })
                                        @Html.ActionLink("Editar", "Editar", new { id = 4 }, new { @class = "Link2" })
                                    </td>
                                </tr>
                                <tr class="context-menu-one-mantTablas">

                                    <td>4</td>
                                    <td>Modulo</td>
                                    <td>Completar el modulo 1 de literatura</td>
                                    <td>11/06/2024</td>
                                    <td class="Link2">Hecha</td>
                                    <td>
                                        @Html.ActionLink("Eliminar", "Eliminar", new { id = 4 }, new { @class = "Link1" })
                                        @Html.ActionLink("Editar", "Editar", new { id = 4 }, new { @class = "Link2" })
                                    </td>
                                </tr>
                                <tr class="context-menu-one-mantTablas">

                                    <td>5</td>
                                    <td>Compartir</td>
                                    <td>Ir al cine</td>
                                    <td>17/07/2024</td>
                                    <td class="Link2">Hecha</td>
                                    <td>
                                        @Html.ActionLink("Eliminar", "Eliminar", new { id = 4 }, new { @class = "Link1" })
                                        @Html.ActionLink("Editar", "Editar", new { id = 4 }, new { @class = "Link2" })
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries</div>
                            <div class="col-sm-6 col-xs-6">
                                <ul class="pagination hidden-xs pull-right">
                                    <li><a href="#"><</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">></a></li>
                                </ul>
                                <ul class="pagination visible-xs pull-right">
                                    <li><a href="#"><</a></li>
                                    <li><a href="#">></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>

</body>




